<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <!-- <meta http-equiv="refresh" content="3"> -->

  <title>2D-spel - Utmaningar</title>
  <meta name="description" content="Casual 2D-game challenges">
  <meta name="author" content="Olof@CoderDojoGbg">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
  <script src="https://unpkg.com/vue"></script>
  <style>
    ul {
      list-style-type:none;
    }
    li {
      color: blue;
      vertical-align: middle;
    }
    img {
      vertical-align: middle;
    }
  </style>
</head>
<body>


  <div id="app" class="container">

    <div class="row">
      <div class="twelve columns">
        <h1>Kodutmaningar!</h1>
      </div>
    </div>

    <div v-for="(c, i) in challenges">

      <div class="row">
        <div :id="'challenge' + i" class="twelve columns">
          <h3>Utmaning {{ i+1 }}: {{ c.challenge }}</h3>
        </div>
      </div> <!-- /row -->

      <div class="row">
        <div class="six columns">
           <img width="100%" v-if="c.image" :src="getImageURL(c.image)">
        </div>
      </div> <!-- /row -->
 

      <div class="row">
        <div class="twelve columns">
          <p>{{ c.description }}</p>
        </div>
      </div> <!-- /row -->

      <div class="row">
        <div class="twelve columns">
          Låser upp:
          <ul v-for="a in c.achievements">
              <li><img src="images/star.png"> {{ a }}</li>
          </ul>
        </div>
      </div> <!-- /row -->

      <hr>

    </div>
  </div>


  <script src="js/app.js?v=1.0"></script>
</body>
</html>

